body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.mainContainerStyle {
  background: #9a4eae;
}

.featuresContainerStyle {
  background: #16181a;
}

.featuresBlockStyle {
  background: #7851a9;
}
